logo {
    display:block;
    margin:auto;
    width:30px;
    height:auto;
}

#menu_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

#menu_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

#menu_table th,
#menu_table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

#menu_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#menu_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#menu_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}